.c-intro {
    max-width: 660px;
    width: 90%;
    text-align: center;
    font-family: $raleway;
    color: $white;
    font-weight: 400;
    z-index: 2;

    &__title {
        position: relative;
        font-family: $playfair;
        font-size: rem(48px);
        margin: 55px 0;

        &::after {
            @include position($bottom:-25px, $left:50%);
            transform: translateX(-50%);
            width: 80px;
            border: 2px solid white;
        }
    }

    &__subtitle {
        padding: 0 85px;
    }

    &__arrow {
        padding-top: 140px;
        font-size: 22px;
        animation: arrow 1s ease-in-out infinite;

        &--svg {
            cursor: pointer;
            transition: .4s all ease-in-out;

            &:hover {
                transform: scale(1.5);
            }
        }

    }

}

@keyframes arrow {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}