.c-button {
    padding: 18px 55px;
    background-color: #d07c7c;
    border: none;
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 12px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .4s all ease-in-out;

    &:hover {
        background-color: #f0a3a3;
    }

}