.c-form {

    @include flex(flex, center, center, column);
    width: 585px;
    padding-top: 50px;
    color: #848282;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    z-index: 1;


    &__input {
        width: 100%;
        height: 50px;
        padding-left: 30px;
        margin-bottom: 15px;
        border: 1px solid #d07c7c;

    }

    &__text {
        width: 100%;
        height: 140px;
        padding: 20px 0 0 30px;
        margin-bottom: 15px;
        border: 1px solid #d07c7c;
    }

    &__footer {
        width: 100%;
        @include flex(flex, center, space-between);
        padding-top: 25px;
    }
}