.c-form {

    @include flex(flex, center, center, column);
    max-width: 585px;
    width: 80%;
    padding-top: 50px;
    color: #848282;
    font-family: $raleway;
    font-size: rem(13px);
    font-weight: 400;
    line-height: 18px;
    z-index: 1;


    &__input {
        @include size(100%, 50px);
        padding-left: 30px;
        margin-bottom: 15px;
        border: 1px solid #d07c7c;

    }

    &__text {
        @include size(100%, 140px);
        padding: 20px 0 0 30px;
        margin-bottom: 15px;
        border: 1px solid #d07c7c;
    }

    &__footer {
        @include size(100%, 100px);
        @include flex(flex, center, space-around, column);
    }
}


//media queries
//screen > 1024px

@mixin c-form\@screen_wide {

    .c-form {
        width: 100%;

        &__footer {
            @include flex(flex, center, space-between);
            padding-top: 25px;
            height: auto;
        }
    }
}