.c-form {

    @include flex(flex, center, center, column);
    max-width: 585px;
    width: 80%;
    padding-top: 50px;
    color: #848282;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    z-index: 1;


    &__input {
        width: 100%;
        height: 50px;
        padding-left: 30px;
        margin-bottom: 15px;
        border: 1px solid #d07c7c;

    }

    &__text {
        width: 100%;
        height: 140px;
        padding: 20px 0 0 30px;
        margin-bottom: 15px;
        border: 1px solid #d07c7c;
    }

    &__footer {
        width: 100%;
        @include flex(flex, center, space-around, column);
        // padding-top: 25px;
        height: 110px;
    }
}


//media queries
//screen > 1024px

@mixin c-form\@screen_wide {

    .c-form {
        width: 100%;

        &__footer {
            @include flex(flex, center, space-between);
            padding-top: 25px;
            height: auto;
        }
    }
}