.c-logo {
    font-family: $dancing-script;
    color: $white;
    font-style: italic;
    font-weight: 400;

    &__title {

        font-size: rem(33px);
    }

    &__subtitle {
        font-size: rem(23px);
    }

}