.l-header {

    &__wrapper {
        background: url('../img/intro/pic_1.png');
        background-size: cover;
        background-position: center;
        position: relative;
        height: 100vh;
        @include flex(flex, center, center, column);
        z-index: 2;

        &::after {
            @include position($top:0, $left:0);
            @include size(100%);
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}