.l-wrapper {
    max-width: 1230px;
    width: 90%;
    margin: 140px auto 70px;
    @include flex(flex, center, center, column);
    padding: 0;

    &--footer {
        margin: 60px auto 30px;


        & svg {
            margin-bottom: 20px;
            color: #848282;
            cursor: pointer;
        }
    }
}

//media queries
// screen > 1280px

@mixin l-wrapper\@screen_mega {
    .l-wrapper {
        width: 100%;
    }
}