.l-wrapper {
    max-width: 1230px;
    width: 100%;
    margin: 140px auto 70px;
    @include flex(flex, center, center, column);

    &--footer {
        margin: 60px auto 30px;


        & svg {
            margin-bottom: 20px;
            color: #848282;
            cursor: pointer;
        }
    }

}