// Font Family
$fontFamily: 'Raleway',
sans-serif;

// Base Font and Color
$baseFontSize: 18px;
$baseColor: #ffffff;
$baseLineHeight : 1.5;
$headingLineHeight : 1.2;


// Font Sizing
$giganticFontSize: rem(48px);
$hugeFontSize: rem(33px);
$largeFontSize: rem(30px);
$mediumFontSize: rem(25px);
$smallFontSize: rem(16px);
$miniFontSize: rem(14px);


// Colors
$white: #ffffff;
$grayMenu: #696969;
$grayLogo: #838181;
$grayTitle: #5a5957;
$grayDesc: #848282;


// Buttons Styles
$btnColor: $white;
$btnSize: $smallFontSize;